body {
  margin: 0px;
}

#platno {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0px;
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1px repeat(auto-fill, 1px);
  position: absolute;
}
.tacka {
  width: 2px;
  height: 2px;
  background-color: black;
}
